<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="6e956567-ee2c-4157-91bb-a4ddcede667c"/> <!-- clientapp -->
    <add key="ida:TenantId" value="92e34e2f-c298-4006-8b22-1c25f94c2456"/> <!-- mymsdn.onmicrosoft.com -->
    <add key="ida:SigninBaseAddress" value="https://login.microsoftonline.com"/> <!-- /ida:TenantId | organizations | consumers | common -->
    <add key="fea:BizLgcSvcScope" value="api://78ca852a-959d-401e-a025-c665f6696a04/access_as_user"/>
    <add key="fea:BizLgcSvcBaseAddress" value="https://localhost:44351/"/>
  </appSettings>
</configuration>